<section class="container d-flex flex-column align-items-center py-2">
  <h5 class="text-light"><a
      href="/api/patients/{{patient_id}}"
      class="link-warning"
    >
    </a></h5>
  <p class="text-light">{{body}}</p>
</section>