<section class="container d-flex flex-column align-items-center py-2">
  <h5 class="text-light">Patient {{id}}:<a href="/api/patients/{{id}}" class="link-warning">
      {{name}}</a></h5>
  <p class="text-light">DOB: {{birthday}}</p>
</section>