<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <h3>
  <a href="/patient/{{id}}">
    <!-- The card contains the gallery name as the card header -->
  </a>
  </h3>
</section>