<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/patient/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{name}}</header>
    <!-- The card contains the first painting of the gallery -->
    <p>{{}}</p>
  </a>
</section>