<link rel="stylesheet" href="/css/profile.css" />

<section class="container">
    <div class="patient-info">
      <h5><a class="text-warning" href="/api/patients/{{id}}">{{name}} (Id:{{id}})</a></h5>
      <p class="text-center">DOB: {{birthday}}</p>
    </div>
</section>

