<section class="container d-flex flex-column align-items-center">
  <h4 class="text-light">Patient Name:<a href="/api/patients/{{id}}">
      {{name}}</a></h4>
  <p class="text-light">Birthdate: {{birthday}}</p>
  <p class="text-light">Address: {{address}}</p>
</section>