<link rel="stylesheet" href="/css/profile.css" />

<section class="container">
    <div>
      <h5><a class="text-warning" href="/api/patients/{{id}}">{{name}}</a></h5>
      <p class="">DOB: {{birthday}}</p>
    </div>
</section>

