<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a class="logo">TrackNHeal</a>

      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav>
  </body>
