<div class="container">
    <h1 class="text-light">Welcome to the Homepage Woop Woop</h1>
        {{#each doctors}}
            <p class="text-light">Doctor : {{name}} in {{clinic}}</p><br>
        {{/each}}
</div>
