<div class="container">
    <h1 class="text-light">Welcome to the Homepage Woop Woop</h1>
        {{#each this}}
            <p class="text-light">Doctor : {{this.name}} in {{this.clinic}}</p><br>
        {{/each}}
</div>
