<div class="sign-up-cont text-white signup-wrapper">
  <div class="form-box">

    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group input-box">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <input class="form-input login-page_input" name="name" type="text" id="name-signup" placeholder="Name"/>
        <label for="name"></label>

      </div>
      <div class="form-group input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <input
          class="form-input login-page_input"
          type="text"
          name="username"
          id="username-signup"
          placeholder="Username"
        />
        <label for="username"></label>
      </div>
      <div class="form-group input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input class="form-input login-page_input" type="password" id="password-signup" placeholder="Password"/>
        <label for="password"></label>
      </div>
      <div class="form-group input-box">
        <span class="icon"><ion-icon name="medical-outline"></ion-icon></span>
        <input class="form-input login-page_input" type="text" id="clinic-signup" placeholder="Clinic"/>
        <label for="clinic"></label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Unable to create account.
          Please wait, your page is reloading...</h5>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>