
p {
    width: auto;
    padding-left: 0;
    padding-right: 0;
}

.appt-info-container{
    position: relative;
    right: 1em;
    margin-bottom: 2em;
    width: 400px;
    margin-left: 2em;
}

.border {
    position: relative;
    width: 2px;
    height: 400px;
}

.appt-title {
    width: 500px;
    text-align: start;
    font-size: 50px;
}

.appt-info-title {
    text-align: start;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-bottom: 5px;
}

.appt-info {
    font-size: 18px;
    display: flex;
    text-align: start;
    padding: 1.5em 0 .5em 0;
    padding-left: 1.5em;
    margin-top: 1em;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.modal-appt-info {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin-top: 10px;
}

.modal-content {
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    border: 1px solid gray;
    border-radius: 5px;
}

.text {
    margin-bottom: 2px;
    margin-top: 3px;
}

.sub {
    border-radius: 10px;
}

::placeholder {
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 2px;
}