p {
    width: auto;
    padding-left: 0;
    padding-right: 0;
}

.appointment-cont {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.list-title {
    position: relative;
    bottom: 20px;
    text-decoration: underline;
}

.patient-cont {
    width: fit-content;
    height: auto;
}

.modal-content {
    border-radius: 20px;
}

.modal-appt-info {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin-top: 10px;
}

.modal-body {
    padding: 0;
}

.modal-title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    border: 1px solid gray;
    border-radius: 5px;
}

.text {
    margin-bottom: 2px;
    margin-top: 3px;
}

.sub {
    border-radius: 10px;
}

::placeholder {
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
}