.patients-list {
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding-left: 0;
    padding-right: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    padding-left: 0;
    padding-right: 0;
}

.add-patient-btn {
    position: relative;
    left: 1.5em;
    width: auto;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.current-text {
    position: relative;
    top: 5px;
}

.patients-cont-big {
    padding: 0px;
}